@supports (--custom:property) {
	@each $breakpoint in map-keys($grid-breakpoints) {
		@include media-breakpoint-up($breakpoint) {
			$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
			
			[style*="--a#{$infix}-ratio"] {
				position: relative;
			}
			
			[style*="--a#{$infix}-ratio"]::before {
				content: "";
				display: block;
				padding-bottom: calc(100% / (var(--a#{$infix}-ratio)));
				transition: all .5s;
			}
			
			[style*="--a#{$infix}-ratio"] > :first-child {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
			
		}
	}
}